@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3><a href="/DeskQuotes">Please visit the Desk Quote App >></a></h3>
</div>
