/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #adc4d6;
}

.border-bottom {
    border-bottom: 1px solid #adc4d6;
}

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.btn-primary {
    background-color: #222f3f;
    border-color: #f80652;
}

    .btn-primary:hover {
        background-color: #adc4d6;
        border-color: #222f3f;
    }

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #d9e9f8;
    color: #101c28;
    font-family: "Merriweather", serif;
    font-size: 22px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px;
    /* Vertically center the text there */
}

a {
    color: #f80652;
}

    a:hover, a:active, a:visited {
        color: #f80652;
    }

header > nav.navbar {
    background-color: #222f3f !important;
}

    header > nav.navbar a {
        color: #d9e9f8 !important;
    }

        header > nav.navbar a:hover, header > nav.navbar a:active, header > nav.navbar a:visited {
            color: #222f3f;
            background-color: #adc4d6;
        }

.table thead th {
    border-color: #222f3f !important;
}
